#aboutMe{
    height: 10%;
}

.descriptionContainer{
	margin-bottom: 30px;
}
.aboutMeDescriptionContainer {
    margin-bottom:30px;
}

.descriptionText {
    font-size: 20px;
    font-style:italic;
    margin-top: 10px;
}
.descriptionLine{
	padding-top: 30px;
}

.profileImageContainer {
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
}

.profileImage {
    height: 100%;
    border-radius: 8%;
}

.introductionMe {
    font-size: 22px;
    color: rgb(153, 143, 144);
}

.aboutMePhrase {
    font-size: 22px;
    color: rgb(153, 143, 144);
    display: flex;
    justify-content: center;
}

.aboutMePhrase2 {
    display: flex;
    justify-content: center;
}

.skillsDescription {
    font-size: 20px;
    font-style:italic;
}



[data-aos="alba-animation"] {
    right: -200%;
    opacity: 0;
    transition-property: right, opacity;
}

[data-aos="alba-animation"].aos-animate {
    right: 1%;
    opacity: 1;
}

@media all and (max-width: 360px) {
    #aboutMe {
        height: 100px;
    }
    .aboutTitle{
        position: relative;
        z-index: 80;
    }
    .profileImageContainer {
        height: 300px;
    }
}
