.experienceContainer {
    display: flex;
    justify-content: center;
}

.experienceRow {
    display: flex;
    justify-content: center;
}

.timeline {
    width: 100%;
}

.ant-timeline-item-content {
    font-size: 20px;
}

.ant-timeline-item-head {
    border-color: #8dc5be !important;
}

.experienceLine {
    margin-bottom: 4%;
}

.experienceTitle {
    font-size: 22px;
    color: rgb(153, 143, 144);
}

.curriculumButton, .curriculumButton:focus {
    background-color: rgb(153, 109, 117);
    color: white;
    border: none;
    width: 30%;
    font-size: 20px;
}

.curriculumButton:hover {
    background-color: rgb(235, 192, 181);
    color: white;
    border: 1px solid rgb(153, 109, 117);
}

.curriculumSpace {
    display: flex;
    justify-content: center;
}

.curriculumLink {
    width: 200%;
    display: flex;
    justify-content: center;
}

.dates {
    font-size: 16px;
    color: rgb(153, 143, 144);
}

.experienceItem {
    position: relative;
}

[data-aos="experienceAnimation"] {
    right: -200%;
    opacity: 0;
    transition-property: right, opacity;
}

[data-aos="experienceAnimation"].aos-animate {
    right: 1%;
    opacity: 1;
}

[data-aos="experienceAnimationLeft"] {
    left: -200%;
    opacity: 0;
    transition-property: left, opacity;
}

[data-aos="experienceAnimationLeft"].aos-animate {
    left: 1%;
    opacity: 1;
}

@media all and (max-width: 360px) {
    .curriculumButton {
        font-size: 16px;
        width: 50%;
    }
}

@media all and (max-width: 414px) {
    .curriculumButton {
        font-size: 16px;
        width: 50%;
    }
}
@media all and (max-width: 568px) {
    .curriculumButton {
        width: 50%;
    }
}
