.experiencie-container {
    display: flex;
    justify-content: center;
}

.experiencie-row {
    display: flex;
    justify-content: center;
}

.timeline {
    width: 100%;
}

.ant-timeline-item-content {
    font-size: 20px;
}

.ant-timeline-item-head {
    border-color: #8dc5be !important;
}

.experiencie-line {
    margin-bottom: 4%;
}

.experiencie-title {
    font-size: 22px;
    color: rgb(153, 143, 144);
}



.curriculum-button, .curriculum-button:focus {
    background-color: rgb(153, 109, 117);
    color: white;
    border: none;
    width: 30%;
    font-size: 20px;
}

.curriculum-button:hover {
    background-color: rgb(235, 192, 181);
    color: white;
    border: 1px solid rgb(153, 109, 117);
}

.curriculum-space {
    display: flex;
    justify-content: center;
}

.curriculum-link {
    width: 200%;
    display: flex;
    justify-content: center;
}

.dates {
    font-size: 16px;
    color: rgb(153, 143, 144);
}

.experience-item {
    position: relative;
}
[data-aos="experience-animation"] {
    right: -200%;
    opacity: 0;
    transition-property: right, opacity;
}

[data-aos="experience-animation"].aos-animate {
    right: 1%;
    opacity: 1;
}

[data-aos="experience-animation-left"] {
    left: -200%;
    opacity: 0;
    transition-property: left, opacity;
}

[data-aos="experience-animation-left"].aos-animate {
    left: 1%;
    opacity: 1;
}


@media all and (max-width: 360px) {
    .curriculum-button {
        font-size: 16px;
        width: 50%;
    }
}
