.nav-wrapper {
    position: fixed;
    z-index: 999;
    justify-content: space-between;
}

.nav-info {
    display: flex;
    justify-content: center;
}

.link {
    width: 10%;
}

.tab-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 70%;
    font-size: 22px;
}

.tab-container:hover {
    font-size: 28px;
    color: white;
    background-color: rgba(0,0,0,0.1);
}

a:hover {
    color: white !important;
}

nav ul a:hover {
    height: auto;
    background-color: transparent;
}

[data-aos="nav-animation"] {
    background-color: transparent !important;
    transition-property: background-color;
}

[data-aos="nav-animation"].aos-animate {
    background-color: rgb(128, 112, 115) !important;
}
@media all and (max-width: 320px) {
    .nav-tab {
        font-size: 18px;
        margin-top: 4%;
    }
    .link {
        width: 40%;
    }
}
@media all and (min-width: 321px) and (max-width: 375px) {
    .nav-tab {
        font-size: 20px;
        margin-top: 4%;
    }
    .link {
        width: 40%;
    }
}

@media all and (min-width: 376px) and (max-width: 768px) {
    .nav-tab {
        font-size: 26px;
        margin-top: 4%;
    }
    .link {
        width: 40%;
    }
}

@media all and (min-width: 769px) and (max-width: 812px) {
    .nav-tab {
        font-size: 16px;
        margin-top: 4%;
    }
    .link {
        width: 40%;
    }
}

@media all and (min-width: 813px) and (max-width: 823px) {
    .nav-tab {
        font-size: 16px;
        margin-top: 4%;
    }
    .link {
        width: 40%;
    }
}

@media all and (min-width: 824px) and (max-width: 1366px) {
    .nav-tab {
        font-size: 26px;
    }
    .link {
        width: 50%;
    }
}


