.landing-video {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -150;
    width: 100%;
}

#myVideo {
    height: 60%;
    width: 100vw;
}

.wave {
    position: absolute;
    bottom: -14%;
    height: 30%;
    background-color: transparent ;
}

.wave2 {
    background-color: transparent;
    position: absolute;
    bottom: 1%;
    opacity: 0.4;
}



.landing-text {
    background-color: #b3b3b3;
    border-radius: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    height: 16%;
    align-items: center;
    box-shadow: 8px 10px 100px #888888;
    border: 1px solid #998889;
    opacity: 0.7;
    position: absolute;
    top: 36%;
}


.landing-name {
    color: white;
}


.landing-subtext {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    font-size: 20px;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 70%;
    background-color: transparent !important;
    color: rgb(128, 112, 115) !important;
    font-size: 100px !important;
}

.link-icon {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.landing-networks {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 120%;
}

.landing-logo {
    height: 80px;
    width: 80px;
    background-color: white;
    margin: 1%;
    border-radius: 50%;
}


.network-image-landing {
    margin: auto;
    height: 100%;
}

.twitterLanding {
    background-image: url("../images/twitter.png");
    background-repeat: no-repeat;
    background-size: 90%;
    position: center;
    margin-top: 22%;
    margin-left: 16%;
}

.twitterLanding:hover {
    background-image: url("../images/twitter-original.png");
}

.githubLanding {
    background-image: url("../images/gitHub.png");
    background-repeat: no-repeat;
    background-size: 96%;
    position: relative;
    margin-top: 10%;
    margin-left: 4%;
}
.githubLanding:hover {
    background-image: url("../images/gitHub-original.png");
}

.linkedinLanding {
    background-image: url("../images/linkedin.png");
    background-repeat: no-repeat;
    background-size: 80%;
    position: center;
    margin-top: 18%;
    margin-left: 16%;
}

.linkedinLanding:hover {
    background-image: url("../images/linkedin-original.png");
}

@media all and (max-width: 320px) {
    .wave {
        bottom: 5%;
        height: 20%;
        z-index: 20;
    }
    .wave2  {
        bottom: -2%;
        height: 30%;
        z-index: 20;
    }
    .landing-text {
        width: 70%;
        height: 12%;
        top: 30%;
        z-index: 50;
    }
    .landing-name {
        font-size: 22px;
    }
    .landing-subtext {
        font-size: 16px;
        top: 40px;
    }
    .landing-video {
        width: 100%;
        height: 90vh;
    }
    #myVideo {
        height: 100%;
        object-fit: fill;
    }
    .arrow {
        z-index: 50;
    }
    .landing-logo {
        height: 50px;
        width: 50px;
        opacity: 1;
        z-index: 50;
    }
}

@media all and (min-width: 321px) and (max-width: 359px) {
    .wave {
        bottom: -10%;
        height: 40%;
        z-index: 20;
    }
    .landing-text {
        width: 70%;
        height: 12%;
        top: 30%;
        z-index: 50;
    }
    .landing-name {
        font-size: 30px;
    }
    .landing-subtext {
        font-size: 18px;
        top: 46px;
    }
}

@media all and (min-width: 360px) and (max-width: 361px) {
    .wave {
        bottom: -10%;
        height: 40%;
        z-index: 20;
    }
    .wave2 {
        bottom: 10%;
        height: 40%;
        z-index: 20;
    }
    .landing-text {
        width: 70%;
        height: 12%;
        top: 30%;
        z-index: 50;
    }
    .landing-name {
        font-size: 30px;
    }
    .landing-subtext {
        font-size: 18px;
        top: 46px;
    }
    .landing-logo {
        height: 50px;
        width: 50px;
    }
    .landing-video {
        width: 100%;
        height: 90vh;
    }
    #myVideo {
        height: 100%;
        object-fit: fill;
    }
    .arrow {
        z-index: 50;
    }
}


@media all and (min-width: 361px) and (max-width: 375px) {
    .wave {
        bottom: -8%;
        height: 28%;
        z-index: 20;
    }
    .wave2 {
        bottom: -2%;
        height: 30%;
    }
    .landing-text {
        width: 70%;
        height: 12%;
        top: 20%;
        z-index: 50;
    }
    .landing-name {
        font-size: 30px;
    }
    .landing-subtext {
        top: 42px;
        display: block;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }
    .landing-video {
        width: 100%;
        height: 90vh;
    }
    #myVideo {
        height: 100%;
        object-fit: fill;
    }
    .landing-logo {
        height: 50px;
        width: 50px;
    }
    .arrow {
        z-index: 50;
    }
}

@media all and (min-width: 376px) and (max-width: 414px) {
    .wave {
        bottom: 2%;
        height: 20%;
        z-index: 20;
    }
    .landing-text {
        width: 70%;
        height: 12%;
        top: 30%;
        z-index: 50;
    }
    .landing-name {
        font-size: 30px;
    }
    .landing-video {
        width: 100%;
        height: 90vh;
    }
    #myVideo {
        height: 100%;
        object-fit: fill;
    }
}

@media all and (min-width: 415px) and (max-width: 568px) {
    .landing-text {
        width: 50%;
        height: 30%;
        top: 30%;
        z-index: 50;
    }
    .landing-name {
        font-size: 30px;
    }
    .landing-subtext {
        font-size: 16px;
    }
    .wave {
        bottom: -10%;
        z-index: 20;
        height: 50%;
    }
    .arrow {
        z-index: 50;
        top: 76%;
    }
    .landing-logo {
        height: 50px;
        width: 50px;
    }
}

@media all and (min-width: 569px) and (max-width: 640px) {
    .wave {
        bottom: 1%;
        height: 30%;
        z-index: 20;
    }
    .landing-text {
        width: 50%;
        height: 20%;
        top: 30%;
        z-index: 50;
        padding-bottom: 4px;
    }
    .landing-name {
        font-size: 22px;
    }
    .landing-subtext {
        font-size: 16px;
        top: 46px;
    }
}

@media all and (min-width: 639px) and (max-width: 640px) {
    .wave {
        bottom: -2%;
        height: 30%;
        z-index: 20;
    }
    .wave2 {
        bottom: 2%;
        height: 50%;
        z-index: 20;
    }
    .landing-text {
        width: 70%;
        height: 18%;
        top: 30%;
        z-index: 50;
    }
    .landing-name {
        font-size: 30px;
    }
    .landing-subtext {
        font-size: 18px;
        top: 38px;
    }
    .landing-logo {
        height: 50px;
        width: 50px;
    }
    .landing-video {
        width: 100%;
        height: 90vh;
    }
    #myVideo {
        height: 100%;
        object-fit: fill;
    }
    .arrow {
        z-index: 50;
    }
}

@media all and (min-width: 641px) and (max-width: 667px) {
    .wave {
        bottom: -15%;
        height: 40%;
        z-index: 20;
    }
    .wave2 {
        bottom: -4%;
        height: 40%;
        z-index: 20;
    }
    .landing-logo {
        z-index: 50;
        height: 50px;
        width: 50px;
    }
    .arrow {
        z-index: 50;
    }
    .landing-text {
        top: 30%;
        height: 21%;
    }
    .landing-name {
        font-size: 30px;
    }
    .landing-subtext {
        top: 50px;
    }
}

@media all and (min-width: 668px) and (max-width: 731px) {
    .landing-text {
        width: 30%;
        height: 20%;
        top: 30%;
        z-index: 50;
    }
    .wave {
        bottom: -12%;
        height: 40%;
        z-index: 20;
    }
    .wave2 {
        bottom: 2%;
        z-index: 20;
        height: 40%;
    }
    .landing-name {
        font-size: 30px;
    }
    .landing-subtext {
        font-size: 16px;
    }
    .landing-logo {
        height: 50px;
        width: 50px;
    }
    .arrow {
        z-index: 50;
    }
}

@media all and (min-width: 732px) and (max-width: 736px) {
    .landing-text {
        top: 20%;
        height: 21%;
    }
    .wave {
        bottom: -8%;
        height: 40%;
        z-index: 20;
    }
    .wave2 {
        bottom: 6%;
        z-index: 20;
        height: 40%;
    }
    .landing-name {
        font-size: 30px;
    }
    .landing-subtext {
        font-size: 16px;
    }
    .landing-logo {
        z-index: 50;
    }
    .arrow {
        z-index: 50;
    }
}

@media all and (min-width: 737px) and (max-width: 768px) {
    .landing-text {
        width: 50%;
        height: 14%;
        top: 10%;
        z-index: 50;
    }

    .landing-name {
        font-size: 60px;
    }
    .wave {
        height: 50%;
        bottom: 20%;
    }
    .wave2 {
        height: 50%;
        bottom: 20%;
    }
    .landing-subtext {
        font-size: 24px;
    }
    .landing-logo {
        height: 60px;
        width: 60px;
    }
    .arrow {
        z-index: 50;
        top: 36%;
    }
}

@media all and (min-width: 769px) and (max-width: 812px) {
    .landing-text {
        width: 50%;
        height: 20%;
        top: 30%;
        z-index: 50;
    }
    .wave {
        height: 70%;
        bottom: -30%;
    }
    .wave2 {
        height: 50%;
        bottom: -20%;
    }
    .landing-name {
        font-size: 40px;
    }
    .landing-subtext {
        font-size: 16px;
    }
    .arrow {
        z-index: 50;
        top: 70%;
    }
    .landing-logo {
        height: 60px;
        width: 60px;
    }
}

@media all and (min-width: 813px) and (max-width: 815px) {
    .landing-video {
        width: 100%;
        height: 90vh;
    }
    #myVideo {
        height: 100%;
        object-fit: fill;
    }
    .wave {
        bottom: 8%;
        z-index: 20;
        height: 20%;
    }

    .wave2 {
        bottom: 12%;
        z-index: 20;
        height: 40%;
    }

    .landing-logo {
        height: 50px;
        width: 50px;
        opacity: 1;
        z-index: 50;
    }
    .arrow {
        top: 70%;
        z-index: 50;
    }
}
@media all and (min-width: 816px) and (max-width: 823px) {
    .wave {
        bottom: -24%;
        z-index: 20;
        height: 40%;
    }
    .wave2 {
        bottom: -10%;
        z-index: 20;
        height: 40%;
    }
    .landing-text {
        height: 20%;
    }
    .landing-logo {
        height: 50px;
        width: 50px;
    }
    .landing-name {
        font-size: 30px;
    }
    .landing-subtext {
        top: 50px;
    }
}

@media all and (min-width: 824px) and (max-width: 1024px) {
    .landing-video {
        width: 100%;
        height: 90vh;
    }
    #myVideo {
        height: 100%;
        object-fit: fill;
    }
    .wave2 {
        bottom: 6%;
        z-index: 20;
        height: 40%;
    }

    .landing-logo {
        height: 50px;
        width: 50px;
        opacity: 1;
        z-index: 50;
    }
    .arrow {
        top: 70%;
        z-index: 50;
    }
}

@media all and (min-width: 1024px) and (max-width: 1366px) {
    .landing-video {
        width: 100%;
        height: 90vh;
    }
    #myVideo {
        height: 100%;
        object-fit: fill;
    }
    .wave {
        bottom: 6%;
        z-index: 20;
        height: 20%;
    }
    .wave2 {
        bottom: 6%;
        z-index: 20;
        height: 40%;
    }

    .landing-logo {
        height: 90px;
        width: 90px;
        opacity: 1;
        z-index: 50;
    }
    .arrow {
        top: 70%;
        z-index: 50;
    }
    .landing-name {
        font-size: 70px;
    }
    .landing-subtext {
        font-size: 30px;
        top: 60%;
    }
}

@media all and (min-width: 361px) and (max-width: 375px) {

}

@media (width: 375px) and (orientation: portrait) {
    .wave2 {
        /*background-color: pink;*/
        /*display: none !important;*/
        bottom: 20%;
    }
    .wave {
        /*background-color: green;*/
        /*display: none !important;*/
        bottom: 6%;
    }
    .landing-text {
        width: 80%;
    }
    .landing-subtext {
        top: 60px;
        font-size: 22px;
    }
    .landing-name {
        font-size: 40px;
    }
}




