.landing-video {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -150;
    width: 100%;
}

#myVideo {
    /*position: absolute;*/
    height: 60%;
    width: 100vw;
}

.wave {
    position: absolute;
    bottom: -14%;
    height: 30%;
    background-color: transparent !important;
}

.wave2 {
    background-color: transparent;
    position: absolute;
    bottom: 1%;
    opacity: 0.4;
}



.landing-text {
    background-color: transparent;
    border-radius: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    height: 16%;
    align-items: center;
    box-shadow: 8px 10px 100px #888888;
    border: 1px solid #998889;
    opacity: 0.7;
    position: absolute;
    top: 36%;
}

.landing-name {
    color: white;
}

.landing-subtext {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    font-size: 20px;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 70%;
    background-color: transparent !important;
    color: rgb(128, 112, 115) !important;
    font-size: 100px !important;
}

.link-icon {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.landing-networks {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 120%;
    opacity: 0.5;
}

.landing-logo {
    height: 80px;
    width: 80px;
    background-color: white;
    margin: 1%;
    border-radius: 50%;
}

.network-image-landing {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 18%;
    align-items: center;
    height: 60%;

}



