.projectDetail {
    margin: 8%;
}

.imageContainer {
    height: 50%;
    margin: 2%;
    margin-top: 6%;
    animation-duration: 3s;
    animation-name: appear;
    position: relative;
    border: 1px solid rgb(153, 143, 144);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.35);
    border-radius: 2%;
    padding: 2%;
}

.headerProject {
    display: flex;
    justify-content: space-between;
    padding-left: 6%;
}

.goalTitle {
    font-size: 22px;
    color: rgb(153, 143, 144);
}

.projectsDetails {
    border-left: 1px solid #996d75;
    width: 40%;
}

.imageProjectContainer {
    width: 60%;
}

.details {
    margin: auto;
    width: 100%;
    height: 200%;
    margin-top: 1%;
}

.detailsImage {
    display: flex;
}

.goal {
    background-image: url("../images/goal.png");
    background-size: 70%;
}

.tools {
    background-image: url("../images/tools.png");
    background-size: 80%;
}

.web {
    background-image: url("../images/web.png");
    background-size: 90%;
}

.profile {
    width: 100%;

}

.profileText {
    width: 100%;
    height: auto;
    word-wrap: break-word;
}


.material-icons {
    color: #996d75;
    font-size: 50px;
    display: flex;
    justify-content: center;
    border-radius: 80%;
    width: 8%;
}

.backContainer {
    justify-content: end;
    justify-self: end;
}

.imageProjectDetail {
    max-width: 100%;
    height: 100%;
    background-size: cover;
    margin: auto;
    display: flex;
}

.topicsContainer {
    display: flex;
}

.topics {
    text-transform: capitalize;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 50px;
    margin: 2%;
    justify-content: center;
}

.react {
    background-image: url("../images/react.png");
}

.css {
    background-image: url("../images/css.png");
}

.javascript {
    background-image: url("../images/javascript.png");
}

.html {
    background-image: url("../images/html.png");
}

.angular {
    background-image: url("../images/angular.png");
}

.ant-design {
    background-image: url("../images/ant.png");
}

.materialize {
    background-image: url("../images/materialize.png");
    margin-top: 3%;
}

.typescript {
    background-image: url("../images/typescript.png");
}

.portfolio {
    display: none;
}

.hooks {
    display: none;
}

.bootstrap {
    display: none;
}

[data-aos="imageContainer"] {
    bottom: -50%;
    opacity: 0;
    transition-property: bottom, opacity;
}

[data-aos="imageContainer"].aos-animate {
    bottom: 1%;
    opacity: 1;
}

@media all and (max-width: 1025px) {
    .imageProjectContainer {
        width: 100%;
    }
}

@media all and (max-width: 1025px) {
    .projectsDetails {
        width: 100%;
        border-left: 0px solid #996d75;
        border-top: 1px solid #996d75;
    }
}

@media all and (max-width: 320px) {
    .imageContainer {
        height: 100px ;
    }
}

@media all and (min-width: 321px) and (max-width: 360px) {
    .imageContainer {
        height: 130px;
    }
}

@media all and (min-width: 361px) and (max-width: 411px) {
    .imageContainer {
        height: 140px;
    }
}

@media all and (min-width: 412px) and (max-width: 640px) {
    .imageContainer {
        height: 180px;
    }
}

@media all and (min-width: 641px) and (max-width: 812px) {
    .imageContainer {
        height: 250px;
    }
}

@media all and (max-width: 812px) {
    .imageProjectContainer {
        width: 100%;
        margin-top: 18%;
    }
    .imageProjectDetail {
        object-fit: fill;
    }
    .ant-typography.page__title.detail-title {
        font-size: 20px;
        margin-top: 4%;
    }
    .aboutProjectSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .logoContainer {
        width: 100%;
        margin: auto;
    }
}
@media all and (min-width: 813px) and  (max-width: 1024px) {
    .imageContainer {
        height: 340px;
    }
}

@media all and (max-width: 1024px) {
    .imageProjectContainer {
        width: 100%;
        margin-top: 18%;
    }

    .imageProjectDetail {
        object-fit: fill;
    }
    .ant-typography.page__title.detail-title {
        font-size: 20px;
        margin-top: 4%;
    }
    .aboutProjectSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .logoContainer {
        width: 100%;
        margin: auto;
    }
    .detailsImage {
        display: block;
    }
}

@media all and (min-width: 1024px) and (max-width: 1366px) {
    .imageProjectContainer {
        width: 100%;
    }
    .imageContainer {
        height: 300px;
    }
    .imageProjectDetail {
        object-fit: fill;
    }
    .ant-typography.page__title.detail-title {
        font-size: 20px;
        margin-top: 4%;
    }
    .aboutProjectSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .logoContainer {
        width: 100%;
        margin: auto;
    }
}




