

.ant-card {
    margin: 2%;

}

.card-container {
    height: 430px;
}

.individual-card {
    border: 1px solid rgb(182, 204, 198);
    border-radius: 10%;
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 1%;
    /*margin-bottom: 1%;*/
    background-color: #F2F2F2;
    padding-top: 3%;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.35);

}

.proyect-image {
    /*border-bottom: 1px solid rgb(182, 204, 198);*/
    height: 300px;
    background-size: contain;
    width: auto;
    max-width: 100%;
    margin: auto;
}

.caption {
    background-color: transparent;
    width: 100%;
    height: 75px;
    margin-top: 0;
    padding: 0;
    padding-left: 2%;
    /*margin-bottom: 2%;*/
}

.allTopics {
    display: flex;
}

.ant-card-meta-title {
    font-size: 20px;
}

.ant-card-body {
    padding: 0;
}

.caption-container {
    background-color: pink;
    display: flex;
}

img{
    height: 80%;
    justify-content: center;
    display: flex;
}

.projectTopics {
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    height: 40px;
}

.project-react {
    background-image: url("../images/react.png");
}

.project-css {
    background-image: url("../images/css.png");
}

.project-javascript {
    background-image: url("../images/javascript.png");
}

.project-html {
    background-image: url("../images/html.png");
}

.project-angular {
    background-image: url("../images/angular.png");
}

.project-ant-design {
    background-image: url("../images/ant.png");
}

.project-materialize {
    background-image: url("../images/materialize.png");
    margin-top: 2%;
}

.project-typescript {
    background-image: url("../images/typescript.png");
    margin-top: 1%;
    background-size: 80%;

}

.project-portfolio {
    display: none;
}

.project-hooks {
    display: none;
}

.project-bootstrap {
    display: none;
}

.proyect-image:hover {
    opacity: 50%;
}


.card-1, .card-3, .card-5 {
    margin-left: 45%;
}

.card-0, .card-2, .card-4 .card-6 {
    margin-right: 45%;
}

@media all and (max-width: 768px) {
    .card-0, .card-2, .card-4, .card-6 {
        margin: auto;
        margin-bottom: 4%;
        width: 70%;
    }

}

@media all and (max-width: 768px) {
    .card-0, .card-2, .card-4, .card-6 {
        margin: auto;
        margin-bottom: 4%;
        width: 70%;
    }

}

@media all and (max-width: 768px) {
    .card-1, .card-3, .card-5 {
        margin: auto;
        margin-bottom: 4%;
        width: 70%;
    }
}


[data-aos="proyect--animation0"], [data-aos="proyect--animation2"], [data-aos="proyect--animation4"], [data-aos="proyect--animation6"] {
    left: -50%;
    opacity: 0;
    transition-property: left, opacity;
}

[data-aos="proyect--animation0"].aos-animate, [data-aos="proyect--animation2"].aos-animate, [data-aos="proyect--animation4"].aos-animate, [data-aos="proyect--animation6"].aos-animate {
    left: 0;
    opacity: 1;
}

[data-aos="proyect--animation4"], [data-aos="proyect--animation6"] {
    left: -50%;
    opacity: 0;
    transition-property: left, opacity;
}

[data-aos="proyect--animation4"].aos-animate, [data-aos="proyect--animation6"].aos-animate {
    left: 0;
    opacity: 1;
}

[data-aos="proyect--animation1"], [data-aos="proyect--animation3"], [data-aos="proyect--animation5"] {
    right: -50%;
    opacity: 0;
    transition-property: right, opacity;
}

[data-aos="proyect--animation1"].aos-animate, [data-aos="proyect--animation3"].aos-animate, [data-aos="proyect--animation5"].aos-animate {
    right: 0;
    opacity: 1;
}

@media all and (max-width: 360px) {
    .card-container {
        margin: auto;
        margin-top: 50px;
        height: 250px;
        width: 90%;
    }

    .proyect-image {
        width: auto;
        height: auto;
        margin-top: 4%;
    }

    .individual-card {
        height: 100%;
        width: auto;
    }

    .projectTopics {
        height: 60px;
        width: 60%;
    }
}










