
.percentage__circle {
    margin: 30px 30px 30px 0px;
    animation-duration: 3s;
    animation-name: slidein;

}

.ant-progress-text {
    font-size: 20px;
}



@media all and (max-width: 768px) {
	.percentage__circle {
    margin-right: 0px;
	}
}
.percertange__circle:last-child {
    margin: 30px 0px 30px 0px;
}
@media all and (max-width: 768px) {
	.ant-col-xl-offset-1 {
    margin-left: 0px;
	}
}

[data-aos="percentage-animation"] {
    transform: rotate(0deg);
    opacity: 0;
    transition-property: transform, opacity;
}

[data-aos="percentage-animation"].aos-animate {
    transform: rotate(360deg);
    opacity: 1;
}

@media all and (max-width: 1100px) {
    .percentage__section {
        flex-direction: column;
        justify-content: center;
    }
    .percentage__circle {
        width: 25%;
        display: flex;
        justify-content: center;
    }
}

